{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Add Admissions Page</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
  </head>
  <body bgcolor="yellow">
    <div class = "module">
      <a href="/ad/newadm/"><button type="button" name="button">Add Admission</button></a>
        <a href="/ad/admreport/"><button type="button" name="button">Admission Report</button></a>
    </div>
    <img src = "{% static 'images/5W3A3440.jpg' %}" alt = "My image"/>
  </body>
</html>
